
div.docutils.container.index-features {
    width: 300px;
}

div.docutils.container.index-box {
    background-color: var(--pst-color-white-highlight);
    border-radius: 10px;
    color: black;
    padding: 5px;
    margin-left: 15px;
    float: right;
    width: 400px;
}

/* Need to be able to have absolute positioning for the div inside */
.bd-main .bd-content .bd-article-container .bd-article {
    position: relative;
}

@media (min-width: 792px) {
    div.docutils.container.index-features {
	position: absolute;
	top: 10px;
	right: 0px;
    }
}

@media (min-width: 1092px) {
    div.docutils.container.index-box {
	margin-left: 30px;
	margin-right: -15px;
    }
}

@media (max-width: 892px) {
    div.docutils.container.index-box {
	max-width: 500px;
	width: unset;
	float: unset;
	margin-left: auto;
	margin-right: auto;
    }
}

