name: Tests

on:
  push:
    branches:
      - "main"

  pull_request:
    branches:
      - '*'

jobs:
  run-linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          allow-prereleases: true

      - name: Run the linters via pre-commit
        run: |
          python -m pip install pre-commit
          pre-commit run --all-files

  test-pypi:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.9"
            nox-session: test_oldest_from_pypi
          - python-version: "3.9"
            nox-session: test_latest_from_pypi
          - python-version: "3.10"
            nox-session: test_latest_from_pypi
          - python-version: "3.11"
            nox-session: test_latest_from_pypi

      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Setup test env and run the tests
        run: |
          python -m pip install nox
          nox -s ${{ matrix.nox-session }} -p ${{ matrix.python-version }}

      # TODO: collect code coverage data and upload to codecov


  test-conda-forge:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.11"
            nox-session: test_latest_from_conda_forge

      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - uses: mamba-org/setup-micromamba@v1
        with:
          init-shell: bash
          cache-environment: true
          post-cleanup: 'all'
          environment-name: nox-env
          create-args: >-
            python=${{ matrix.python-version }}
            nox
            mamba

      - name: Setup test env and run the tests
        run: |
          nox -s ${{ matrix.nox-session }} -p ${{ matrix.python-version }}
        shell: bash -el {0}

      # TODO: collect code coverage data and upload to codecov
